.technology {
  max-width: 1110px;
  margin: 63px auto;
}

.technology__title {
  text-align: center;
}

.technology__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
}
.technology__card {
  padding-left: 34px;
  padding-right: 30px;
  max-width: 260px;
  height: 226px;
  margin-left: auto;
  margin-right: auto;
}

.technology__number {
  position: relative;
  width: 117px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato-Bold";
  font-size: 10rem;
  line-height: 1.2;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
}

.technology__number_one::after {
  position: absolute;
  content: "";
  bottom: -18%;
  right: 15%;
  background-image: url("../img/cloud.svg");
  background-repeat: no-repeat;
  background-size: 80;
  width: 80px;
  height: 80px;
}

.technology__head {
  margin-top: 19px;
  text-align: center;
}

.technology__text {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 1.16;
  text-align: center;
}

.technology_number_two::after {
  position: absolute;
  content: "";
  bottom: -11px;
  right: 19%;
  background-image: url("../img/secure.svg");
  background-repeat: no-repeat;
  background-size: 66;
  width: 66px;
  height: 66px;
}

.technology__number_three::after {
  position: absolute;
  content: "";
  bottom: -11px;
  right: 20%;
  background-image: url("../img/PdF.svg");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}

.technology__number_four::after {
  position: absolute;
  content: "";
  bottom: -5px;
  right: 30%;
  background-image: url("../img/csv.svg");
  background-repeat: no-repeat;
  width: 47px;
  height: 54px;
}

@media (max-width: 678px) {
  .technology {
    margin-top: 0;
    margin-bottom: 25px;
  }
}
