.header {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 187px;
  background-image: url("../img/header.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;

  position: relative;
  z-index: 0;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(238, 61, 27, 0.8) 100%
    );
    z-index: -1;
  }
}

.headers {
  max-width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Lato-Bold";
    font-size: 1.8rem;

    img {
      margin-right: 10px;
    }
  }
}

.head__navigation {
  margin-left: -70px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-desk {
  .nav__link {
    margin-right: 15px;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #ffffff;

    &:hover {
      font-family: "Lato-Bold";
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-login {
  display: inline-block;
  height: 40px;
  width: 100px;

  padding: 11px 28px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: #e7101000;

  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;
}

.btn-login:hover {
  background-color: #6e080850;
}

.header__title {
  margin: 167px auto 0;

  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 7.2rem;
}

.header__subtitle {
  max-width: 540px;
  margin: 39px auto 0;

  text-align: center;
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 2.4rem;
  line-height: 1.5;
}

.header__signUp {
  display: inline-block;
  height: 50px;
  width: 160px;
  margin-top: 39px;
  border: none;
  border-radius: 6px;
  background-color: #ffffff;

  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ed4c5c;

  cursor: pointer;

  &:hover {
    background-color: #ffffffc4;
  }
}

.menu__button {
  width: 35px;
  height: 30px;
  border: none;
  border-radius: 5px;

  padding: 0;

  background-color: rgba(255, 255, 255, 0);
  font-size: 25px;
  cursor: pointer;

  position: relative;
}

.menu__button-label,
.menu__button_after,
.menu__button_before {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  left: 0;

  border-radius: 5px;
  background-color: #ffffff;
}

.menu__button-label {
  top: 40%;
}

.menu__button_after {
  top: 0;
}

.menu__button_before {
  bottom: 0;
}

@media (max-width: 1110px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .menu-burger {
    display: none;
  }

  .navigation-mob {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1110px) {
  .head__navigation {
    margin-left: -30px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .navigation-mob {
    top: 70px;
    right: 10px;
    width: 180px;
    height: 220px;
    position: absolute;
    overflow: hidden;
  }

  .nav-mobile {
    position: absolute;
    top: 0;
    right: -250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    height: 220px;
    padding: 10px;

    border: 3px solid #ed4c5c;
    border-radius: 3px;
    background-color: #ffffffed;

    font-size: 1.8rem;
    font-family: "Lato-Bold";
    color: #ed4c5c;
    text-transform: uppercase;

    /* animation: 1.5s closed; */
  }

  @keyframes show {
    from {
      top: 0;
      right: -250px;
    }

    to {
      top: 0;
      right: 0;
    }
  }

  @keyframes closed {
    from {
      top: 0;
      right: 0;
    }

    to {
      top: 0;
      right: -250px;
    }
  }

  .btn-login {
    display: none;
  }

  .head__navigation,
  .navigation {
    display: none;
  }

  .header__title {
    margin-top: 120px;
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .header__title {
    font-size: 4.8rem;
  }

  .header__subtitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .header__title {
    font-size: 2.8rem;
  }

  .header__subtitle {
    font-size: 1.6rem;
  }
}
