@charset "UTF-8";
@font-face {
  font-family: "Lato-Regular";
  src: url("../font/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../font/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("../font/Lato-Light.ttf");
}

html {
  scroll-behavior: smooth;
  /* для плавной прокрутки */
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato-Regular";
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.block-none {
  display: none;
}

.header {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 187px;
  background-image: url("../img/header.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
  text-align: center;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8)));
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  z-index: -1;
}

.headers {
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  font-size: 1.8rem;
}

.logo a img {
  margin-right: 10px;
}

.head__navigation {
  margin-left: -70px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-desk .nav__link {
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #ffffff;
}

.nav-desk .nav__link:hover {
  font-family: "Lato-Bold";
}

.nav-desk .nav__link:last-child {
  margin-right: 0;
}

.btn-login {
  display: inline-block;
  height: 40px;
  width: 100px;
  padding: 11px 28px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: #e7101000;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #6e080850;
}

.header__title {
  margin: 167px auto 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 7.2rem;
}

.header__subtitle {
  max-width: 540px;
  margin: 39px auto 0;
  text-align: center;
  color: #ffffff;
  font-family: "Lato-Bold";
  font-size: 2.4rem;
  line-height: 1.5;
}

.header__signUp {
  display: inline-block;
  height: 50px;
  width: 160px;
  margin-top: 39px;
  border: none;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ed4c5c;
  cursor: pointer;
}

.header__signUp:hover {
  background-color: #ffffffc4;
}

.menu__button {
  width: 35px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  font-size: 25px;
  cursor: pointer;
  position: relative;
}

.menu__button-label,
.menu__button_after,
.menu__button_before {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  left: 0;
  border-radius: 5px;
  background-color: #ffffff;
}

.menu__button-label {
  top: 40%;
}

.menu__button_after {
  top: 0;
}

.menu__button_before {
  bottom: 0;
}

@media (max-width: 1110px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .menu-burger {
    display: none;
  }
  .navigation-mob {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1110px) {
  .head__navigation {
    margin-left: -30px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .navigation-mob {
    top: 70px;
    right: 10px;
    width: 180px;
    height: 220px;
    position: absolute;
    overflow: hidden;
  }
  .nav-mobile {
    position: absolute;
    top: 0;
    right: -250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 180px;
    height: 220px;
    padding: 10px;
    border: 3px solid #ed4c5c;
    border-radius: 3px;
    background-color: #ffffffed;
    font-size: 1.8rem;
    font-family: "Lato-Bold";
    color: #ed4c5c;
    text-transform: uppercase;
    /* animation: 1.5s closed; */
  }
  @-webkit-keyframes show {
    from {
      top: 0;
      right: -250px;
    }
    to {
      top: 0;
      right: 0;
    }
  }
  @keyframes show {
    from {
      top: 0;
      right: -250px;
    }
    to {
      top: 0;
      right: 0;
    }
  }
  @-webkit-keyframes closed {
    from {
      top: 0;
      right: 0;
    }
    to {
      top: 0;
      right: -250px;
    }
  }
  @keyframes closed {
    from {
      top: 0;
      right: 0;
    }
    to {
      top: 0;
      right: -250px;
    }
  }
  .btn-login {
    display: none;
  }
  .head__navigation,
  .navigation {
    display: none;
  }
  .header__title {
    margin-top: 120px;
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .header__title {
    font-size: 4.8rem;
  }
  .header__subtitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .header__title {
    font-size: 2.8rem;
  }
  .header__subtitle {
    font-size: 1.6rem;
  }
}

.block-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview {
  max-width: 1110px;
  height: auto;
  margin: 94px auto 95px;
}

.block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 445px;
  height: 90%;
}

.overview__text {
  margin-top: 2.4rem;
  text-align: justify;
  font-size: 1.4rem;
  line-height: 1.4;
}

.overview__link {
  font-size: 1.4rem;
  padding-top: 14px;
}

.block-video {
  position: relative;
}

.overview__video {
  border-radius: 15px;
  width: 445px;
}

.overview__btn-play {
  position: absolute;
  width: 66px;
  height: 66px;
  border: none;
  border-radius: 50%;
  left: -7.1%;
  bottom: 40%;
  background-color: #ed4c5c;
  background-image: url("../img/PlaySolid(F5B0).svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px;
}

.overview__btn-play:hover {
  cursor: pointer;
  background-color: #c83e4b;
}

@media (max-width: 1110px) {
  .overview {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (min-width: 790px) and (max-width: 960px) {
  .overview__text {
    padding-right: 50px;
  }
  .block-video {
    width: 80%;
  }
  .overview__video {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .block-overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .overview {
    margin: 50px auto 50px;
  }
  .block-text {
    max-width: 600px;
    width: 90%;
    font-size: 1.8rem;
  }
  .block-video {
    margin-top: 30px;
    width: 90%;
  }
  .overview__video {
    width: 100%;
  }
  .overview__btn-play {
    display: none;
  }
}

.description {
  max-width: 1110px;
  margin: 63px auto;
}

.description__title {
  text-align: center;
}

.description__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 63px;
}

.description-wrap {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.description__img img {
  width: 100%;
}

.description__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  min-height: 198px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 33px 32px 25px;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  text-align: center;
}

.description__text {
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 1110px) {
  .description {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1071px) {
  .description__card_three {
    margin-top: -50px;
  }
}

@media (max-width: 768px) {
  .description {
    margin-top: 25px;
    margin-bottom: 0;
  }
}

@media (max-width: 721px) {
  .description__card_two {
    margin-top: -50px;
  }
}

.technology {
  max-width: 1110px;
  margin: 63px auto;
}

.technology__title {
  text-align: center;
}

.technology__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
}

.technology__card {
  padding-left: 34px;
  padding-right: 30px;
  max-width: 260px;
  height: 226px;
  margin-left: auto;
  margin-right: auto;
}

.technology__number {
  position: relative;
  width: 117px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato-Bold";
  font-size: 10rem;
  line-height: 1.2;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
}

.technology__number_one::after {
  position: absolute;
  content: "";
  bottom: -18%;
  right: 15%;
  background-image: url("../img/cloud.svg");
  background-repeat: no-repeat;
  background-size: 80;
  width: 80px;
  height: 80px;
}

.technology__head {
  margin-top: 19px;
  text-align: center;
}

.technology__text {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 1.16;
  text-align: center;
}

.technology_number_two::after {
  position: absolute;
  content: "";
  bottom: -11px;
  right: 19%;
  background-image: url("../img/secure.svg");
  background-repeat: no-repeat;
  background-size: 66;
  width: 66px;
  height: 66px;
}

.technology__number_three::after {
  position: absolute;
  content: "";
  bottom: -11px;
  right: 20%;
  background-image: url("../img/PdF.svg");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}

.technology__number_four::after {
  position: absolute;
  content: "";
  bottom: -5px;
  right: 30%;
  background-image: url("../img/csv.svg");
  background-repeat: no-repeat;
  width: 47px;
  height: 54px;
}

@media (max-width: 678px) {
  .technology {
    margin-top: 0;
    margin-bottom: 25px;
  }
}

.download-block {
  width: 100%;
  background-color: #ed4c5c;
}

.download__wrp {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download__block {
  max-width: 445px;
  color: #fff;
}

.download__text {
  padding-top: 3rem;
  font-size: 1.4rem;
  line-height: 1.4;
}

.download__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
}

.download__item {
  width: 32px;
  height: 32px;
  display: block;
}

.download__item:not(:last-child) {
  margin-right: 2.4rem;
}

.download__social-icon {
  width: 32px;
  height: 32px;
  display: block;
  background-repeat: no-repeat;
}

.social-icon__play-market {
  background-image: url("../img/ion-google-playstore.svg");
  background-size: 32px;
}

.social-icon__app-store {
  background-image: url("../img/ion-apple-appstore.svg");
  background-size: 32px;
}

.social-icon__windows {
  background-image: url("../img/icon_windows.svg");
  background-size: 24px;
}

.download__block-2 {
  max-width: 450px;
}

@media (max-width: 1110px) {
  .download__wrp {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 1025px) {
  .download__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .download__block {
    margin: auto;
    max-width: 700px;
    min-width: 200px;
    width: 100%;
    text-align: center;
  }
  .download__item {
    margin: auto;
  }
  .download__item:not(:last-child) {
    margin-right: 0;
  }
  .download__block-2 {
    display: none;
  }
}

.block-contact {
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact {
  margin-left: auto;
  margin-right: auto;
  padding-top: 11.7rem;
  padding-bottom: 7.8rem;
}

.contact__block-text {
  max-width: 445px;
}

.contact__text {
  font-size: 1.4rem;
  line-height: 1.42;
  margin-top: 6rem;
}

.contact__block-form {
  max-width: 540px;
  min-width: 350px;
}

.subscription-field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscription__field-name {
  width: calc(100% - 30px);
}

.subscription__field-name:first-child {
  margin-right: 30px;
}

.subscription__field {
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 20px 30px;
  font-size: 16px;
}

.subscription__field:hover,
.subscription__field:focus,
.subscription__field:active {
  outline: none;
  border-color: #ed4c5c;
}

.subscription__field-phone {
  width: 100%;
  margin-top: 24px;
}

.select {
  margin-top: 24px;
}

.select__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  color: rgba(19, 39, 67, 0.5);
  cursor: pointer;
}

.select__toggle:active,
.select__toggle:focus {
  color: #000;
}

.select__btn {
  width: 1.4rem;
  height: 1.4rem;
  background-size: 1.4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/select.svg");
}

.select__dropdown {
  margin-top: 5px;
  border: 1px solid #ed4c5c;
  border-radius: 6px;
}

.select__option {
  height: 40px;
  padding-left: 30px;
  padding-top: 1rem;
  font-size: 1.6rem;
}

.select__option:hover {
  background-color: #f5f5f5;
  border-radius: 6px;
  cursor: pointer;
}

.subscription__button {
  width: 160px;
  height: 50px;
  margin-top: 27px;
  background-color: #ed4c5c;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.subscription__button span {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "Lato-Light";
}

.subscription__button:hover span {
  font-family: "Lato-Bold";
}

.form-popup {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.form-popup__container {
  max-width: 390px;
  width: 95%;
  margin: auto;
  padding: 50px 30px;
  background-color: #ffffff;
  border: 1px solid #cbd1d4;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.form-popup__text {
  margin-top: 2rem;
  font-size: 1.6rem;
}

/* button close-popup */
.form-popup__close {
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
  width: 1.4em;
  height: 1em;
  font-size: 20px;
  position: absolute;
  top: -1.5em;
  right: 0;
}

.form-popup__close::before,
.form-popup__close::after {
  content: "";
  width: 1.4em;
  height: 0.2em;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.form-popup__close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.form-popup__close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 1110px) {
  .block-contact {
    margin-right: 10px;
    margin-left: 10px;
  }
  .contact__block-form {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .block-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .contact__title {
    text-align: center;
  }
  .contact__text {
    text-align: center;
    margin-top: 2.7rem;
  }
  .contact__block-form {
    width: 100%;
    max-width: 700px;
    min-width: 250px;
    margin-left: 0;
  }
  .subscription-field-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscription__field-name {
    margin-top: 2.7rem;
    width: 100%;
  }
  .subscription__button {
    width: 100%;
  }
}

.footer {
  width: 100%;
  background-color: #fafafa;
}

.footer__block {
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.footer__address-wrap,
.footer__services-wrap,
.footer__getInTouch-wrap,
.footer__support-wrap {
  padding-top: 83px;
}

.footer__address-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
  min-width: 180px;
  padding-right: 10px;
}

.footer__subtitle {
  text-align: left;
  margin-bottom: 3.3rem;
}

.footer__text {
  font-size: 1.2rem;
  line-height: 1.5;
}

.footer__services-wrap {
  max-width: 230px;
  min-width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
}

.footer__link:hover {
  color: #ed4c5c;
  text-decoration: underline;
}

.footer__getInTouch-wrap {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
}

.social-icon {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-icon {
  width: 14px;
  height: 14px;
  display: block;
  background-repeat: no-repeat;
}

.social-icon__facebook,
.social-icon__linkId {
  margin-right: 1.2rem;
}

.social-icon__facebook svg:hover,
.social-icon__linkId svg:hover {
  fill: #ed4c5c;
}

.social-icon__twitter svg:hover {
  fill: #ed4c5c;
}

.footer__support-wrap {
  width: 216px;
}

.copyright {
  max-width: 1110px;
  margin: auto;
  padding-top: 86px;
  padding-bottom: 86px;
  font-size: 1.2rem;
  color: #101010;
}

@media (max-width: 1110px) {
  .footer__address-wrap,
  .footer__services-wrap,
  .footer__getInTouch-wrap,
  .footer__support-wrap {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__block,
  .copyright {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 662px) {
  .footer__address-wrap,
  .footer__services-wrap,
  .footer__getInTouch-wrap,
  .footer__support-wrap {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5rem;
  }
  .footer__address-wrap,
  .footer__services-wrap,
  .footer__getInTouch-wrap,
  .footer__support-wrap,
  .footer__list,
  .footer__subtitle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .copyright {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

.title {
  font-family: "Lato-Bold";
  font-size: 3.6rem;
  line-height: 1.2;
}

.subtitle {
  font-family: "Lato-Bold";
  font-size: 1.8rem;
  line-height: 1.2;
}

.link {
  color: #ed4c5c;
}

.link:hover {
  font-family: "Lato-Bold";
  text-decoration: underline;
}

.up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #858585;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2rem;
  color: #9a9a9a;
  text-align: center;
}

.up-button:hover {
  cursor: pointer;
  color: #84262f;
  border-color: #84262f;
}
/*# sourceMappingURL=style.css.map */